<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>i hate 500</title>
    <link href="{{ asset('css/style-error.css') }}" rel="stylesheet"/>
</head>
<body>
<div style="margin-bottom: 20px; font-weight: bold;">i hate 500</div>
<div style="margin-bottom: 20px;">
    oups on a un bug par ici.
</div>
<a href="{{ path('default_homepage') }}" class="lstyle">retour au site.</a>
</body>
</html>
