{% extends "@Admin/admin.layout.html.twig" %}
{% block body %}
    <div class="u-full-width">
        <a href="{{ path('admin_serie_add') }}" class="u-pull-right" style="margin-bottom: 20px;">ajout.</a>
    </div>
    <table class="u-full-width">
        <tbody>
        {% if listSerie|length == 0 %}
            <tr>
                <td colspan="5">il n'y a pas de série</td>
            </tr>
        {% else %}
            {% for serie in listSerie %}
                <tr class="line-entete">
                    <th>name</th>
                    <th>ville</th>
                    <th>action</th>
                </tr>
                <tr class="line-info">
                    <td>{{ serie.name }}</td>
                    <td>{{ serie.ville }}</td>
                    <td><a href="{{ path('admin_serie_show', {'id': serie.id}) }}">voir</a></td>
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
{% endblock %}